.table{
	&-row{
		border-bottom: 1px solid $gray-light;
	}
	&-cell{
		padding: $space-small;
	}
	&.has-no-border{
		border: none;
		tr, th, td{
			border: none;
		}
	}
	&.has-less-space{
		th, td{
			padding: $space-smaller;
		}
	}
	&.has-bg-even{
		tr:nth-child(2n){
			background: $white-ter;
		}
	}
	&.has-bg-odd{
		tr:nth-child(2n+1){
			background: $white-ter;
		}
	}
	&.has-bottom-border{
		border: none;
		border-bottom: 1px solid $gray-light;
		tr, th, td{
			border: none;
			border-bottom: 1px solid $gray-light;
		}
	}
	&.is-rounded{
		border-collapse: separate;
		border-radius: 15px;
		overflow: hidden;
		tr:first-child{
			th:first-child,
			td:first-child{
				border-radius: 15px 0 0 0;
			}
			th:last-child
			td:last-child{
				border-radius: 0 15px 0 0;
			}
		}
		tr:last-child{
			th:first-child,
			td:first-child{
				border-radius: 0 0 0 15px;
			}
			th:last-child
			td:last-child{
				border-radius: 0 0 15px 0;
			}
		}
		tr:not(:last-child) > th,
		tr:not(:last-child) > td{
			border-bottom: 1px solid $gray-light;
		}
	}
}
