// media break points
$phone: 599px; // max-width
$tablet: 600px; // min-width
$tablet-up: 900px; // min-width
$desktop: 1200px; // min-width
$desktop-up: 1800px; // min-width

// width
$max-width: 1200px;
$max-width-narrow: 1000px;
$min-width: 600px;
